{:paths ["src" "resources"]
 :deps  {org.clojure/tools.logging   {:mvn/version "1.1.0"}
         org.clojure/tools.namespace {:mvn/version "1.1.0"}}

 :aliases
 {:dev {:extra-paths ["test"]
        :extra-deps  {lambdaisland/kaocha {:mvn/version "1.0.861"}}}

  :build {:extra-paths ["dev"]
          :extra-deps  {io.github.clojure/tools.build {:tag "v0.1.7" :sha "fc2e1f8"}}
          :ns-default  build}}}
